{{set . "title" "深圳市网络考试中心"}} {{template "header.html" .}}
<div class="container">
    <div class="row">
        <br>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{template "menu.html" .}}
        </div>
        <div class="col-md-10">
            <div class="panel-primary">
                <div class="panel-heading text-center">濮阳龙都考试中心欢迎您</div>
                <div class="panel-body"></div>
            </div>
            <br><br><br><br>
            <div class="span6 text-center">
                {{template "flash.html" .}}
            </div>
        </div>
    </div>
</div>
{{template "footer.html" .}}