{{set . "title" "濮阳市龙都考试中心"}}
{{template "header.html" .}}

<script src="/public/js/question-create.js" type="text/javascript" charset="utf-8"></script>

<div class="container">
    <div class="row"><br></div>
    <div class="row">
	  <div class="col-md-2">{{template "menu.html" .}}</div>
	  <div class="col-md-10"> 
	    <div class="panel-primary">
          <div class="panel-heading text-center">濮阳龙都考试中心欢迎您</div>  
          <div class="panel-body">
		    <div class="row">
		       <div class="form-group">
			      <label class="radio-group">题目类型：</label>
			      <label class="radio-inline">
			         <input type="radio" name="QuestionType" id="SingleChoiceType" value="单选" checked="checked" onClick="controll('SingleChoiceType')">单选
			      </label>
			      <label class="radio-inline">
			         <input type="radio" name="QuestionType" id="MultipleChoiceType" value="多选" onClick="controll('MultipleChoiceType')">多选
			      </label>
			      <label class="radio-inline">
			         <input type="radio" name="QuestionType" id="TrueFalseType" value="判断" onClick="controll('TrueFalseType')">判断
			      </label>
			   </div>
			</div>

			<form class="form-horizontal" role="form" id="SingleChoiceForm" action="{{url "Question.PostSingleChoice"}}" method="POST">
		      <div class="form-group">
			     <label class="radio-group">考试类别：</label>
			     <label class="radio-inline">
				    <input type="radio" name="singleChoice.Type" id="ExamTypeOne" value="交通" checked="checked">交通
			     </label>
			     <label class="radio-inline">
				    <input type="radio" name="singleChoice.Type" id="ExamTypeTwo" value="司法">司法
			     </label>
			     <label class="radio-inline">
				    <input type="radio" name="singleChoice.Type" id="ExamTypeThree" value="建筑">建筑
			     </label>
			  </div>

			  {{with $field := field "singleChoice.Discription" .}}
              <div class="form-group {{$field.ErrorClass}}"> 
			     <div class="form-group-addon">题目内容</div>	
				 <textarea class="form-control" rows="1" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="请填写题目内容"></textarea>
				 {{if $field.Error}}
                 <span class="help-inline">{{$field.Error}}</span> 
                 {{end}}
              </div>
              {{end}}

			  {{with $field := field "singleChoice.A" .}}
              <div class="form-group {{$field.ErrorClass}}"> 
			     <div class="form-group-addon">A</div>	
				 <textarea class="form-control" rows="1" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="请填写A选项内容"></textarea>
				 {{if $field.Error}}
                 <span class="help-inline">{{$field.Error}}</span> 
                 {{end}}
              </div>
              {{end}}

			  {{with $field := field "singleChoice.B" .}}
              <div class="form-group {{$field.ErrorClass}}"> 
			     <div class="form-group-addon">B</div>	
				 <textarea class="form-control" rows="1" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="请填写B选项内容"></textarea>
				 {{if $field.Error}}
                 <span class="help-inline">{{$field.Error}}</span> 
                 {{end}}
              </div>
              {{end}}

			  {{with $field := field "singleChoice.C" .}}
              <div class="form-group {{$field.ErrorClass}}"> 
			     <div class="form-group-addon">C</div>	
				 <textarea class="form-control" rows="1" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="请填写C选项内容"></textarea>
				 {{if $field.Error}}
                 <span class="help-inline">{{$field.Error}}</span> 
                 {{end}}
              </div>
              {{end}}

			  {{with $field := field "singleChoice.D" .}}
              <div class="form-group {{$field.ErrorClass}}"> 
			     <div class="form-group-addon">D</div>	
				 <textarea class="form-control" rows="1" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="请填写D选项内容"></textarea>
				 {{if $field.Error}}
                 <span class="help-inline">{{$field.Error}}</span> 
                 {{end}}
              </div>
              {{end}}

			  <div class="form-group" id="SingleChoiceAnswer">正确答案：
				<label class="radio-inline">
				  <input type="radio" name="singleChoice.Answer" id="AnswerA" value="A">A
				</label>
				<label class="radio-inline">
				  <input type="radio" name="singleChoice.Answer" id="AnswerB" value="B">B
				</label>
				<label class="radio-inline">
				  <input type="radio" name="singleChoice.Answer" id="AnswerC" value="C">C
				</label>
				<label class="radio-inline">
				  <input type="radio" name="singleChoice.Answer" id="AnswerD" value="D">D
				</label>
              </div>

			  <div class="form-group">
			    <div class="form-group-addon">
				  <button class="btn btn-default" type="submit">提交</button>
				</div>
			  </div>
		    </form>

			<form class="form-horizontal" role="form" id="MultipleChoiceForm" action="{{url "Question.PostMultipleChoice"}}" method="POST" style="display:none;">
              <div class="form-group">
			     <label class="radio-group">考试类别：</label>
			     <label class="radio-inline">
				    <input type="radio" name="multipleChoice.Type" id="ExamTypeOne" value="交通" checked="checked">交通
			     </label>
			     <label class="radio-inline">
				    <input type="radio" name="multipleChoice.Type" id="ExamTypeTwo" value="司法">司法
			     </label>
			     <label class="radio-inline">
				    <input type="radio" name="multipleChoice.Type" id="ExamTypeThree" value="建筑">建筑
			     </label>
			  </div>

			  {{with $field := field "multipleChoice.Discription" .}}
              <div class="form-group {{$field.ErrorClass}}"> 
			     <div class="form-group-addon">题目内容</div>	
				 <textarea class="form-control" rows="1" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="请填写题目内容"></textarea>
				 {{if $field.Error}}
                 <span class="help-inline">{{$field.Error}}</span> 
                 {{end}}
              </div>
              {{end}}

			  {{with $field := field "multipleChoice.A" .}}
              <div class="form-group {{$field.ErrorClass}}"> 
			     <div class="form-group-addon">A</div>	
				 <textarea class="form-control" rows="1" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="请填写A选项内容"></textarea>
				 {{if $field.Error}}
                 <span class="help-inline">{{$field.Error}}</span> 
                 {{end}}
              </div>
              {{end}}

			  {{with $field := field "multipleChoice.B" .}}
              <div class="form-group {{$field.ErrorClass}}"> 
			     <div class="form-group-addon">B</div>	
				 <textarea class="form-control" rows="1" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="请填写B选项内容"></textarea>
				 {{if $field.Error}}
                 <span class="help-inline">{{$field.Error}}</span> 
                 {{end}}
              </div>
              {{end}}

			  {{with $field := field "multipleChoice.C" .}}
              <div class="form-group {{$field.ErrorClass}}"> 
			     <div class="form-group-addon">C</div>	
				 <textarea class="form-control" rows="1" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="请填写C选项内容"></textarea>
				 {{if $field.Error}}
                 <span class="help-inline">{{$field.Error}}</span> 
                 {{end}}
              </div>
              {{end}}

			  {{with $field := field "multipleChoice.D" .}}
              <div class="form-group {{$field.ErrorClass}}"> 
			     <div class="form-group-addon">D</div>	
				 <textarea class="form-control" rows="1" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="请填写D选项内容"></textarea>
				 {{if $field.Error}}
                 <span class="help-inline">{{$field.Error}}</span> 
                 {{end}}
              </div>
              {{end}}

			  {{with $field := field "multipleChoice.E" .}}
              <div class="form-group {{$field.ErrorClass}}"> 
			     <div class="form-group-addon">E</div>	
				 <textarea class="form-control" rows="1" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="请填写E选项内容"></textarea>
				 {{if $field.Error}}
                 <span class="help-inline">{{$field.Error}}</span> 
                 {{end}}
              </div>
              {{end}}

			  {{with $field := field "multipleChoice.F" .}}
              <div class="form-group {{$field.ErrorClass}}"> 
			     <div class="form-group-addon">F</div>	
				 <textarea class="form-control" rows="1" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="请填写F选项内容"></textarea>
				 {{if $field.Error}}
                 <span class="help-inline">{{$field.Error}}</span> 
                 {{end}}
              </div>
              {{end}}

			  <div class="form-group" id="MultipleChoiceAnswer">正确答案：
				<label class="checkbox-inline"><input type="checkbox" name="answers[]" value="A">A</label>
				<label class="checkbox-inline"><input type="checkbox" name="answers[]" value="B">B</label>
				<label class="checkbox-inline"><input type="checkbox" name="answers[]" value="C">C</label>
				<label class="checkbox-inline"><input type="checkbox" name="answers[]" value="D">D</label>
				<label class="checkbox-inline"><input type="checkbox" name="answers[]" value="E">E</label>
				<label class="checkbox-inline"><input type="checkbox" name="answers[]" value="F">F</label>				
              </div>

			  <div class="form-group">
			    <div class="form-group-addon">
				  <button class="btn btn-default" type="submit">提交</button>
				</div>
			  </div>
		    </form>

            <form class="form-horizontal" role="form" id="TrueFalseForm" action="{{url "Question.PostTrueFalse"}}" method="POST" style="display:none;">
              <div class="form-group">
			     <label class="radio-group">考试类别：</label>
			     <label class="radio-inline">
				    <input type="radio" name="trueFalse.Type" id="ExamTypeOne" value="交通" checked="checked">交通
			     </label>
			     <label class="radio-inline">
				    <input type="radio" name="trueFalse.Type" id="ExamTypeTwo" value="司法">司法
			     </label>
			     <label class="radio-inline">
				    <input type="radio" name="trueFalse.Type" id="ExamTypeThree" value="建筑">建筑
			     </label>
			  </div>

			  {{with $field := field "trueFalse.Discription" .}}
              <div class="form-group {{$field.ErrorClass}}"> 
			     <div class="form-group-addon">题目内容</div>	
				 <textarea class="form-control" rows="1" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="请填写题目内容"></textarea>
				 {{if $field.Error}}
                 <span class="help-inline">{{$field.Error}}</span> 
                 {{end}}
              </div>
              {{end}}

			  <div class="form-group" id="TrueFalseAnswer">正确答案：
				<label class="radio-inline"><input type="radio" name="trueFalse.Answer" value="对">对</label>
				<label class="radio-inline"><input type="radio" name="trueFalse.Answer" value="错">错</label>				
              </div>

			  <div class="form-group">
			    <div class="form-group-addon">
				  <button class="btn btn-default" type="submit">提交</button>
				</div>
			  </div>
		    </form>

          </div>
		</div>
      </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
