{{set . "title" "濮阳市龙都考试中心"}} {{template "header.html" .}}
<script src="/public/js/examinee-exam.js" type="text/javascript" charset="utf-8"></script>
<div class="container">
    <div class="row">
        <br>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel-default">
                <h4 class="text-center">2015年教练员模拟考试</h4>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3 text-left">
                        <div class="text-left">总共分数：{{.examPaper.Score}}分</div>
                        <div class="text-left">考试时间：{{.examPaper.Time}}分钟</div>
                        <div class="text-left">试卷编号：{{.examPaper.IDCode}}</div>
                        <div class="text-left">考生姓名：{{.examineeName}}</div>
                        <div class="text-left" id="timer"></div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                {{$scCount := .scCount}}{{$mcCount := .mcCount}}{{$tfCount := .tfCount}} {{$scScore:=.examPaper.SCScore}}{{$mcScore:=.examPaper.MCScore}}{{$tfScore:=.examPaper.TFScore}}
                <form class="form-horizontal" role="form" id="ExamForm" action="{{url "Examinee.PostExam"}}" method="POST">
                    <div class="form-group">
                        <div class="col-md-10"></div>
                        <div class="col-md-2 text-left">
                            <button type="submit" class="btn btn-primary btn-group-justified" id="ExamFormSubmit">交卷</button>
                        </div>
                    </div>
                    <table class="table table-hover">
                        <thead></thead>
                        <tbody>
                            {{range $index, $item := .scws}} {{if eq $index 0}}
                            <div class="form-group" name="page_{{$item.Page}}" {{if greaterThan $item.Page 1}}style="display:none;" {{end}}>一、单项选择题（共{{$scCount}}题，每题{{$scScore}}分）</div>
                            {{end}}
                            <tr>
                                <th scope="row" id="sc_{{addOne $index}}" name="page_{{$item.Page}}" {{if greaterThan $item.Page 1}}style="display:none;" {{end}}>
                                    <label>{{addOne $index}}、{{$item.SC.Discription}}</label>
                                    <br>
                                    <label class="radio-inline">
                                        <input type="radio" name="sc_{{addOne $index}}_answer" id="sc_{{addOne $index}}_A" value="{{$item.SC.A}}" {{if eq $item.SC.Answer $item.SC.ActualAnswer}}disabled="true" checked{{end}}>A、{{$item.SC.A}}
                                    </label>
                                    <br>
                                    <label class="radio-inline">
                                        <input type="radio" name="sc_{{addOne $index}}_answer" id="sc_{{addOne $index}}_B" value="{{$item.SC.B}}" {{if eq $item.SC.Answer $item.SC.ActualAnswer}}disabled="true" checked{{end}}>B、{{$item.SC.B}}
                                    </label>
                                    <br>
                                    <label class="radio-inline">
                                        <input type="radio" name="sc_{{addOne $index}}_answer" id="sc_{{addOne $index}}_C" value="{{$item.SC.C}}" {{if eq $item.SC.Answer $item.SC.ActualAnswer}}disabled="true" checked{{end}}>C、{{$item.SC.C}}
                                    </label>
                                    <br>
                                    <label class="radio-inline">
                                        <input type="radio" name="sc_{{addOne $index}}_answer" id="sc_{{addOne $index}}_D" value="{{$item.SC.D}}" {{if eq $item.SC.Answer $item.SC.ActualAnswer}}disabled="true" checked{{end}}>D、{{$item.SC.D}}
                                    </label>
                                </th>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    <table class="table table-hover">
                        <thead></thead>
                        <tbody>
                            {{range $index, $item := .mcws}} {{if eq $index 0}}
                            <div class="form-group" name="page_{{$item.Page}}" {{if greaterThan $item.Page 1}}style="display:none;" {{end}}>二、多项选择题（共{{$mcCount}}题，每题{{$mcScore}}分）</div>
                            {{end}}
                            <tr>
                                <th scope="row" id="mc_{{addOne $index}}" name="page_{{$item.Page}}" {{if greaterThan $item.Page 1}}style="display:none;" {{end}}>
                                    <label>{{addOne $index}}、{{$item.MC.Discription}}</label>
                                    <div class="checkbox">
                                        <label class="radio-inline">
                                            <input type="checkbox" name="mc_{{addOne $index}}_answers[]" id="mc_{{addOne $index}}_A" value="{{$item.MC.A}}" {{if has $item.MC.ActualAnswer $item.MC.A}}disabled="true" checked{{end}}>A、{{$item.MC.A}}
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label class="radio-inline">
                                            <input type="checkbox" name="mc_{{addOne $index}}_answers[]" id="mc_{{addOne $index}}_B" value="{{$item.MC.B}}" {{if has $item.MC.ActualAnswer $item.MC.B}}disabled="true" checked{{end}}>B、{{$item.MC.B}}
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label class="radio-inline">
                                            <input type="checkbox" name="mc_{{addOne $index}}_answers[]" id="mc_{{addOne $index}}_C" value="{{$item.MC.C}}" {{if has $item.MC.ActualAnswer $item.MC.C}}disabled="true" checked{{end}}>C、{{$item.MC.C}}
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label class="radio-inline">
                                            <input type="checkbox" name="mc_{{addOne $index}}_answers[]" id="mc_{{addOne $index}}_D" value="{{$item.MC.D}}" {{if has $item.MC.ActualAnswer $item.MC.D}}disabled="true" checked{{end}}>D、{{$item.MC.D}}
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label class="radio-inline">
                                            <input type="checkbox" name="mc_{{addOne $index}}_answers[]" id="mc_{{addOne $index}}_E" value="{{$item.MC.E}}" {{if has $item.MC.ActualAnswer $item.MC.E}}disabled="true" checked{{end}}>E、{{$item.MC.E}}
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label class="radio-inline">
                                            <input type="checkbox" name="mc_{{addOne $index}}_answers[]" id="mc_{{addOne $index}}_F" value="{{$item.MC.F}}" {{if has $item.MC.ActualAnswer $item.MC.F}}disabled="true" checked{{end}}>F、{{$item.MC.F}}
                                        </label>
                                    </div>
                                </th>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    <table class="table table-hover">
                        <thead></thead>
                        <tbody>
                            {{range $index, $item := .tfws}} {{if eq $index 0}}
                            <div class="form-group" name="page_{{$item.Page}}" {{if greaterThan $item.Page 1}}style="display:none;" {{end}}>三、判断题（共{{$tfCount}}题，每题{{$tfScore}}分）</div>
                            {{end}}
                            <tr>
                                <th scope="row" id="tf_{{addOne $index}}" name="page_{{$item.Page}}" {{if greaterThan $item.Page 1}}style="display:none;" {{end}}>
                                    <label>{{addOne $index}}、{{$item.TF.Discription}}</label>
                                    <br>
                                    <label class="radio-inline">
                                        <input type="radio" name="tf_{{addOne $index}}_answer" id="tf_{{addOne $index}}_T" value="对" {{if eq $item.TF.Answer $item.TF.ActualAnswer}}disabled="true" checked{{end}}>对
                                    </label>
                                    <br>
                                    <label class="radio-inline">
                                        <input type="radio" name="tf_{{addOne $index}}_answer" id="tf_{{addOne $index}}_F" value="错" {{if eq $item.TF.Answer $item.TF.ActualAnswer}}disabled="true" checked{{end}}>错
                                    </label>
                                    <br>
                                </th>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    <nav>
                        <div class="row text-center">
                            <ul class="pagination">
                                <li id="controll_page_Previous" name="pageList" onclick="pageClick(this)">
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">上一页</span>
                                    </a>
                                </li>
                                {{range $index, $item := .pages}}
                                <li id="controll_page_{{$item}}" name="pageList" {{if eq $item 1}} class="active" {{end}} onclick="pageClick(this)"><a href="#">{{$item}}</a></li>
                                {{end}}
                                <li id="controll_page_Next" name="pageList" onclick="pageClick(this)">
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">下一页</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="span6">
            {{template "flash.html" .}}
        </div>
    </div>
</div>
{{template "footer.html" .}}
