{{set . "title" "濮阳市龙都考试中心"}} {{template "header.html" .}}
<div class="container">
    <div class="row">
        <br>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel-default">
                <h4 class="text-center">2015年教练员模拟考试</h4>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3 text-left">
                        <div class="text-left">总共分数：{{.examPaper.Score}}分</div>
                        <div class="text-left">考试时间：{{.examPaper.Time}}分钟</div>
                        <div class="text-left">试卷编号：{{.examPaper.IDCode}}</div>
                        <div class="text-left">考生姓名：{{.examineeName}}</div>
                        <div class="text-left" id="timer"></div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" action="#" method="POST">
                    <div class="form-group">一、单项选择题（共{{.scCount}}题，每题{{.examPaper.SCScore}}分）</div>
                    <table class="table table-hover">
                        <thead></thead>
                        <tbody>
                            {{.pages}}
                            {{range $index, $item := .examPaper.SC}}
                            <tr>
                                <th scope="row">
                                    <label>{{addOne $index}}、{{$item.Discription}}</label>
                                    <br>
                                    <label class="radio-inline">
                                        <input type="radio" name="{{addOne $index}}" id="ExamTypeOne" value="交通">A、{{$item.A}}
                                    </label>
                                    <br>
                                    <label class="radio-inline">
                                        <input type="radio" name="{{addOne $index}}" id="ExamTypeTwo" value="司法">B、{{$item.A}}
                                    </label>
                                    <br>
                                    <label class="radio-inline">
                                        <input type="radio" name="{{addOne $index}}" id="ExamTypeThree" value="建筑">C、{{$item.C}}
                                    </label>
                                    <br>
                                    <label class="radio-inline">
                                        <input type="radio" name="{{addOne $index}}" id="ExamTypeThree" value="建筑">D、{{$item.D}}
                                    </label>
                                </th>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    <div class="form-group">二、多项选择题（共{{.mcCount}}题，每题{{.examPaper.MCScore}}分）</div>
                    <table class="table table-hover">
                        <thead></thead>
                        <tbody>
                            {{range $index, $item := .examPaper.MC}}
                            <tr>
                                <th scope="row">
                                    <label>{{addOne $index}}、{{$item.Discription}}</label>
                                    <div class="checkbox">
                                        <label class="radio-inline">
                                            <input type="checkbox" name="answers[]" id="{{addOne $index}}A" value="A">A、{{$item.A}}
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label class="radio-inline">
                                            <input type="checkbox" name="answers[]" id="{{addOne $index}}B" value="B">B、{{$item.B}}
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label class="radio-inline">
                                            <input type="checkbox" name="answers[]" id="{{addOne $index}}C" value="C">C、{{$item.C}}
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label class="radio-inline">
                                            <input type="checkbox" name="answers[]" id="{{addOne $index}}D" value="D">D、{{$item.D}}
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label class="radio-inline">
                                            <input type="checkbox" name="answers[]" id="{{addOne $index}}E" value="E">E、{{$item.E}}
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label class="radio-inline">
                                            <input type="checkbox" name="answers[]" id="{{addOne $index}}F" value="F">F、{{$item.F}}
                                        </label>
                                    </div>
                                </th>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    <div class="form-group">三、判断题（共{{.tfCount}}题，每题{{.examPaper.TFScore}}分）</div>
                    <table class="table table-hover">
                        <thead></thead>
                        <tbody>
                            {{range $index, $item := .examPaper.TF}}
                            <tr>
                                <th scope="row">
                                    <label>{{addOne $index}}、{{$item.Discription}}</label>
                                    <br>
                                    <label class="radio-inline">
                                        <input type="radio" name="{{addOne $index}}" id="ExamTypeOne" value="对">对
                                    </label>
                                    <br>
                                    <label class="radio-inline">
                                        <input type="radio" name="{{addOne $index}}" id="ExamTypeTwo" value="错">错
                                    </label>
                                    <br>
                                </th>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    <nav>
                        <div class="row text-center">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">上一页</span>
                                    </a>
                                </li>
                                {{range .pages}}
                                <li><a href="#">{{.}}</a></li>
                                {{end}}
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">下一页</span>
                                    </a>
                                </li>
                            </ul>
                    </nav>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="span6">
            {{template "flash.html" .}}
        </div>
    </div>
</div>
{{template "footer.html" .}}
