{{set . "title" "登录"}} {{template "header.html" .}}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div style="height: 100px;" class="thumbnail text-center">
                    <div class="caption">
                        <h3>
                             <a href="{{url "App.Introduce" }}">系统介绍<br></a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div style="height: 100px;" class="thumbnail text-center">
                    <div class="caption">
                        <h3>
                             <a href="{{url "Examinee.SignIn" }}">考生登录<br></a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div style="height: 100px;" class="thumbnail text-center">
                    <div class="caption">
                        <h3>
                             <a href="{{url "Admin.SignIn" }}">管理员登录<br></a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div style="height: 100px;" class="thumbnail text-center">
                    <div class="caption">
                        <h3>
                             <a href="{{url "App.About" }}">联系我们<br></a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="panel-primary">
                <div class="panel-heading text-center">濮阳龙都考试中心欢迎您</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" action="{{url "Examinee.SignIn"}}" method="POST">
                        {{with $field := field "signInExaminee.IDCard" .}}
                        <div class="form-group {{$field.ErrorClass}}">
                            <label class="col-sm-3 control-label" for="{{$field.Id}}">考生身份证号</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="请输入身份证号"> {{if $field.Error}}
                                <span class="help-inline">{{$field.Error}}</span> {{end}}
                            </div>
                        </div>
                        {{end}} {{with $field := field "signInExaminee.Password" .}}
                        <div class="form-group {{$field.ErrorClass}}">
                            <label class="col-sm-3 control-label" for="{{$field.Id}}">输入密码</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="输入密码"> {{if $field.Error}}
                                <span class="help-inline">{{$field.Error}}</span> {{end}}
                            </div>
                        </div>
                        {{end}}
                        <div class="form-group">
                            <div class="col-sm-9 text-right">
                                <label class="radio-inline">
                                    <button type="submit" class="btn btn-primary" id="SignInFormSubmit">登录</button>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer text-center"></div>
            </div>
        </div>
    </div>
</div>
{{template "footer.html" .}}
