{{set . "title" "濮阳市龙都考试中心"}} {{template "header.html" .}}
<div class="container">
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div style="height: 100px;" class="thumbnail text-center">
                    <div class="caption">
                        <h3>
                             <a href="{{url "App.Introduce" }}">系统介绍<br></a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div style="height: 100px;" class="thumbnail text-center">
                    <div class="caption">
                        <h3>
                             <a href="{{url "Examinee.SignIn" }}">考生登录<br></a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div style="height: 100px;" class="thumbnail text-center">
                    <div class="caption">
                        <h3>
                             <a href="{{url "Admin.SignIn" }}">管理员登录<br></a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div style="height: 100px;" class="thumbnail text-center">
                    <div class="caption">
                        <h3>
                             <a href="{{url "App.About" }}">联系我们<br></a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div style="height: 200px;" class="thumbnail text-center">
                    <div class="caption">
                        <h3>邮箱</h3>
                        <small>xausee@gmail.com</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div style="height: 200px;" class="thumbnail text-center">
                    <div class="caption">
                        <h3>手机</h3>
                        <small>15220134343</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div style="height: 200px;" class="thumbnail text-center">
                    <div class="caption">
                        <h3>QQ</h3>
                        <small>249664317</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span6">
            {{template "flash.html" .}}
        </div>
    </div>
</div>
{{template "footer.html" .}}
