{{set . "title" "濮阳市龙都考试中心"}} {{template "header.html" .}}
<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="{{url "App.Introduce" }}">系统介绍</a></li>
                <li role="presentation"><a href="{{url "App.About" }}">联系我们</a></li>
                <li role="presentation"><a href="{{url "Examinee.SignIn" }}">考生登录</a></li>
                <li role="presentation"><a href="{{url "Admin.SignIn" }}">管理员登录</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
         <div class="col-md-2"></div>
        <div class="col-md-10">
        <div class="col-sm-6 col-md-4 col-lg-3">dasdasd</div>
        <div class="col-sm-6 col-md-4 col-lg-3">dasdasd</div>
        <div class="col-sm-6 col-md-4 col-lg-3">dasdasd</div>
        <div class="col-sm-6 col-md-4 col-lg-3">dasdasd</div>
         </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span6">
            {{template "flash.html" .}}
        </div>
    </div>
</div>
{{template "footer.html" .}}
