{{set . "title" "濮阳市龙都考试中心"}} {{template "header.html" .}}
<div class="container">
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div style="height: 100px;" class="thumbnail text-center">
                    <div class="caption">
                        <h3>
                             <a href="{{url "App.Introduce" }}" target="_blank">系统介绍<br></a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div style="height: 100px;" class="thumbnail text-center">
                    <div class="caption">
                        <h3>
                             <a href="{{url "Examinee.SignIn" }}" target="_blank">考生登录<br></a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div style="height: 100px;" class="thumbnail text-center">
                    <div class="caption">
                        <h3>
                             <a href="{{url "Admin.SignIn" }}" target="_blank">管理员登录<br></a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div style="height: 100px;" class="thumbnail text-center">
                    <div class="caption">
                        <h3>
                             <a href="{{url "App.About" }}" target="_blank">联系我们<br></a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div style="height: 200px;" class="thumbnail">
                    <img class="lazy" src="/public/img/feature_2.png" data-src="/public/img/feature_2.png" alt="Headroom.js" height="150" width="300">
                    <div class="caption">
                        <p>
                            不含任何考试非必需模块。 易用性为最大原则。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div style="height: 200px;" class="thumbnail">
                    <img class="lazy" src="/public/img/feature_0.png" data-src="/public/img/feature_0.png" alt="Headroom.js" height="150" width="300">
                    <div class="caption">
                        <p>
                            一键式部署，最大程度降低了系统维护成本。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div style="height: 200px;" class="thumbnail">
                    <img class="lazy" src="/public/img/feature_1.png" data-src="/public/img/feature_1.png" alt="Headroom.js" height="150" width="300">
                    <div class="caption">
                        <p>防刷新、防切屏、防考生相互传递答案、防考生制造电脑故障，要求重考</p>
                        <!-- <p>（1）、防刷新处理：每次考试都有计时器，考试时已禁止考生刷新页面。</p>
                        <p>（2）、防离开考场上网找答案：防切屏处理，考生考试时不能随意离开考场，切换浏览器窗口或者其他计算机程序。</p>
                        <p>（3）、考生相互之间的作弊：考题乱序处理， 同一份试卷每位考生考题顺序都不一样，有效防止考生间相互传递答案。</p>
                        <p>（4）、考生故意死机或关机：许多考生入考场后，做了一半，发现时间不够，故意踢掉电源，造成电脑故障。要求老师设置重考。系统具有定时保存功能，就算重新开机登录，也只能续考，不会重新考试。
                        </p>
                        <p>（5）、忠告：在线考试防作弊除了技术手段，还需要人为监考和控制。</p> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div style="height: 200px;" class="thumbnail">
                    <img class="lazy" src="/public/img/feature_4.png" data-src="/public/img/feature_4.png" alt="Headroom.js" height="150" width="300">
                    <div class="caption">
                        <p>考生模块包含了登录、查看考生考试信息和考试。</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div style="height: 200px;" class="thumbnail">
                    <img class="lazy" src="/public/img/feature_3.png" data-src="/public/img/feature_3.png" alt="Headroom.js" height="150" width="300">
                    <div class="caption">
                        <p>系统分为考生模块和管理员模块，管理员模块负责维护考题、试卷、考生信息、考生状态、发布考试等。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span6">
            {{template "flash.html" .}}
        </div>
    </div>
</div>
{{template "footer.html" .}}
