{{set . "title" "深圳市网络考试中心"}} {{template "header.html" .}}
<script src="/public/js/exampaper-create.js" type="text/javascript" charset="utf-8"></script>
<div class="container">
    <div class="row">
        <br>
    </div>
    <div class="row">
        <div class="col-md-2">{{template "menu.html" .}}</div>
        <div class="col-md-10">
            <div class="panel-primary">
                <div class="panel-heading text-center">深圳市网络考试中心欢迎您</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">生成方式：
                            <label class="radio-inline">
                                <input type="radio" name="examPaper.CreateMethod" id="ExamPaperCreateMethodRandom" value="随机生成" checked="checked" onClick="createMethodControll('ExamPaperCreateMethodRandom')">随机生成
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="examPaper.CreateMethod" id="ExamPaperCreateMethodUpload" value="套题上传" onClick="createMethodControll('ExamPaperCreateMethodUpload')">套题上传
                            </label>
                        </div>
                    </div>
                    <form class="form-horizontal" role="form" id="ExamPaperRandomForm" action="{{url "ExamPaper.PostCreate"}}" method="POST">
                        <div class="form-group">考试类别：
                            <label class="radio-inline">
                                <input type="radio" name="examPaper.Type" id="ExamTypeOne" value="交通" checked="checked">交通
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="examPaper.Type" id="ExamTypeTwo" value="司法">司法
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="examPaper.Type" id="ExamTypeThree" value="建筑">建筑
                            </label>
                        </div>
                        <div class="row">
                            {{with $field := field "examPaper.Title" .}}
                            <div class="form-group {{$field.ErrorClass}}">
                                <div class="col-sm-12">
                                    <div class="form-group-addon" for="{{$field.ID}}">试卷标题：</div>
                                    <input type="text" class="form-control" id="{{$field.ID}}" name="{{$field.Name}}" value="{{$field.Flash}}"> {{if $field.Error}}
                                    <span class="help-inline">{{$field.Error}}</span> {{end}}
                                </div>
                            </div>
                            {{end}}
                        </div>
                        <div class="row">
                            {{with $field := field "examPaper.Description" .}}
                            <div class="form-group {{$field.ErrorClass}}">
                                <div class="col-sm-12">
                                    <div class="form-group-addon" for="{{$field.ID}}">试卷描述：</div>
                                    <input type="text" class="form-control" id="{{$field.ID}}" name="{{$field.Name}}" value="{{$field.Flash}}"> {{if $field.Error}}
                                    <span class="help-inline">{{$field.Error}}</span> {{end}}
                                </div>
                            </div>
                            {{end}}
                        </div>
                        <div class="row">
                            <div class="form-group">
                                {{with $field := field "examPaper.Score" .}}
                                <div class="col-sm-6 {{$field.ErrorClass}}">
                                    <div class="form-group-addon" for="{{$field.ID}}">试卷总分数：</div>
                                    <input type="text" class="form-control" id="{{$field.ID}}" name="{{$field.Name}}" value="{{$field.Flash}}" onkeyup="numCheck({{$field.ID}});"> {{if $field.Error}}
                                    <span class="help-inline">{{$field.Error}}</span> {{end}}
                                </div>
                                {{end}} {{with $field := field "examPaper.Time" .}}
                                <div class="col-sm-6 {{$field.ErrorClass}}">
                                    <div class="form-group-addon" for="{{$field.ID}}">考试时间：</div>
                                    <input type="text" class="form-control" id="{{$field.ID}}" name="{{$field.Name}}" value="{{$field.Flash}}" onkeyup="numCheck({{$field.ID}});"> {{if $field.Error}}
                                    <span class="help-inline">{{$field.Error}}</span> {{end}}
                                </div>
                                {{end}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                {{with $field := field "examPaper.SCCount" .}}
                                <div class="col-sm-6 {{$field.ErrorClass}}">
                                    <div class="form-group-addon" for="{{$field.ID}}">单选题数量：</div>
                                    <input type="text" class="form-control" id="{{$field.ID}}" name="{{$field.Name}}" value="{{$field.Flash}}" onkeyup="numCheck({{$field.ID}});"> {{if $field.Error}}
                                    <span class="help-inline">{{$field.Error}}</span> {{end}}
                                </div>
                                {{end}} {{with $field := field "examPaper.SCScore" .}}
                                <div class="col-sm-6 {{$field.ErrorClass}}">
                                    <div class="form-group-addon" for="{{$field.ID}}">每道题分值：</div>
                                    <input type="text" class="form-control" id="{{$field.ID}}" name="{{$field.Name}}" value="{{$field.Flash}}" onkeyup="numCheck({{$field.ID}});"> {{if $field.Error}}
                                    <span class="help-inline">{{$field.Error}}</span> {{end}}
                                </div>
                                {{end}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                {{with $field := field "examPaper.MCCount" .}}
                                <div class="col-sm-6 {{$field.ErrorClass}}">
                                    <div class="form-group-addon" for="{{$field.ID}}">多选题数量：</div>
                                    <input type="text" class="form-control" id="{{$field.ID}}" name="{{$field.Name}}" value="{{$field.Flash}}" onkeyup="numCheck({{$field.ID}});"> {{if $field.Error}}
                                    <span class="help-inline">{{$field.Error}}</span> {{end}}
                                </div>
                                {{end}} {{with $field := field "examPaper.MCScore" .}}
                                <div class="col-sm-6 {{$field.ErrorClass}}">
                                    <div class="form-group-addon" for="{{$field.ID}}">每道题分值：</div>
                                    <input type="text" class="form-control" id="{{$field.ID}}" name="{{$field.Name}}" value="{{$field.Flash}}" onkeyup="numCheck({{$field.ID}});"> {{if $field.Error}}
                                    <span class="help-inline">{{$field.Error}}</span> {{end}}
                                </div>
                                {{end}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                {{with $field := field "examPaper.TFCount" .}}
                                <div class="col-sm-6 {{$field.ErrorClass}}">
                                    <div class="form-group-addon" for="{{$field.ID}}">判断题数量：</div>
                                    <input type="text" class="form-control" id="{{$field.ID}}" name="{{$field.Name}}" value="{{$field.Flash}}" onkeyup="numCheck({{$field.ID}});"> {{if $field.Error}}
                                    <span class="help-inline">{{$field.Error}}</span> {{end}}
                                </div>
                                {{end}} {{with $field := field "examPaper.TFScore" .}}
                                <div class="col-sm-6 {{$field.ErrorClass}}">
                                    <div class="form-group-addon" for="{{$field.ID}}">每道题分值：</div>
                                    <input type="text" class="form-control" id="{{$field.ID}}" name="{{$field.Name}}" value="{{$field.Flash}}" onkeyup="numCheck({{$field.ID}});"> {{if $field.Error}}
                                    <span class="help-inline">{{$field.Error}}</span> {{end}}
                                </div>
                                {{end}}
                            </div>
                        </div>
                        <div class="row">
                            <input class="col-sm-2 btn btn-default" type="button" value="检查分值" onclick="checkScore()" />
                            <div class="col-sm-1"></div>
                            <button class="col-sm-2 btn btn-default" type="submit">提交</button>
                        </div>
                    </form>
                    <form class="form-horizontal" role="form" id="ExamPaperUploadForm" enctype="multipart/form-data" action="{{url "ExamPaper.PostUpload"}}" method="POST" style="display:none;">
                        <div class="form-group">考试类别：
                            <label class="radio-inline">
                                <input type="radio" name="pType" id="ExamTypeOne" value="交通" checked="checked">交通
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="pType" id="ExamTypeTwo" value="司法">司法
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="pType" id="ExamTypeThree" value="建筑">建筑
                            </label>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <label class="col-sm-3">第一步：下载试卷模板</label>
                                <div class="col-sm-6">
                                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                                    <a href="/public/tpls/试卷模板.zip" id="download">试卷模板.zip</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <label class="col-sm-3">第二步：填写试卷模板</label>
                                <div class="col-sm-6">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <label class="col-sm-3" for="download">第三步：上传试卷文件</label>
                                <div class="col-sm-6">
                                    <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
                                    <input type="file" id="examPaperFile" name=examPaperFile>
                                    <p class="help-block">请上传单选题文件</p>
                                    <button type="submit" class="btn btn-primary" id="BatchSingleChoiceFormSubmit">上传</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <label class="col-sm-9">第四步：查看本页下面的录入信息，如有失败请检查后再上传</label>
                            </div>
                        </div>
                    </form>
                    <br><br><br>
                    <div class="row text-center">
                        <div class="span6">
                            {{template "flash.html" .}}
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "footer.html" .}}