{{set . "title" "濮阳市龙都考试中心"}}
{{template "header.html" .}}

<script src="/public/js/exampaper-create.js" type="text/javascript" charset="utf-8"></script>

<div class="container">
    <div class="row"><br></div>
    <div class="row">
	  <div class="col-md-2">{{template "menu.html" .}}</div>
	  <div class="col-md-10"> 
	    <div class="panel-primary">
          <div class="panel-heading text-center">濮阳龙都考试中心欢迎您</div>  
          <div class="panel-body">
		    <form class="form-horizontal" role="form" action="#" method="POST">
			  <div class="form-group">考试类别：
			    <label class="radio-inline">
				  <input type="radio" name="ExamType" id="ExamTypeOne" value="交通" checked="checked">交通
				</label>
				<label class="radio-inline">
				  <input type="radio" name="ExamType" id="ExamTypeTwo" value="司法">司法
				</label>
				<label class="radio-inline">
				  <input type="radio" name="ExamType" id="ExamTypeThree" value="建筑">建筑
				</label>
			  </div>
		      <div class="form-group">生成方式：		
				<label class="radio-inline">
				  <input type="radio" name="ExamPaperCreateMethod" id="ExamPaperCreateMethodRandom" value="随机生成" checked="checked" onClick="controll('ExamPaperCreateMethodRandom')">随机生成
				</label>
				<label class="radio-inline">
				  <input type="radio" name="ExamPaperCreateMethod" id="ExamPaperCreateMethodSelect" value="套题选择" onClick="controll('ExamPaperCreateMethodSelect')">套题选择
				</label>
              </div>
			  <div id="ExamPaperCreateRandomInputs">
			    <div class="row">
			      <div class="form-group">
			         <div class="col-sm-6"> 
			  	     <div class="form-group-addon">单选题数量：</div>				 
			  	     <input class="form-control">
                     </div>
			  	   <div class="col-sm-6"> 
			  	     <div class="form-group-addon">每道题分值：</div>				 
			  	     <input class="form-control">
                     </div>
			      </div>
			    </div>				
			  
			    <div class="row">
			      <div class="form-group">
			         <div class="col-sm-6"> 
			  	     <div class="form-group-addon">多选题数量：</div>				 
			  	     <input class="form-control">
                     </div>
			  	   <div class="col-sm-6"> 
			  	     <div class="form-group-addon">每道题分值：</div>				 
			  	     <input class="form-control">
                     </div>
			      </div>
			    </div>
			  
			    <div class="row">
			      <div class="form-group">
			         <div class="col-sm-6"> 
			  	     <div class="form-group-addon">判断题数量：</div>				 
			  	     <input class="form-control">
                     </div>
			  	   <div class="col-sm-6"> 
			  	     <div class="form-group-addon">每道题分值：</div>				 
			  	     <input class="form-control">
                     </div>
			      </div>
			    </div>			  
			</div>
			<div class="row" id="ExamPaperCreateSelectTable" style="display:none;">
	        	<table class="table table-hover">
	              <thead>
	               <tr>
	           	      <th>编号</th>
	           	      <th>试卷类型</th>
	           	      <th>数量</th>
                       <th>考试类别</th>
	        		  <th>选择</th>
                    </tr>
                   </thead>
                   <tbody>
                     <tr>
                       <th scope="row">1</th>
                       <td>Mark</td>
	           	       <td>Mark</td>
                       <td>Otto</td>
					   <td>
					     <div class="checkbox">
						  <label><input type="checkbox">选择</label>
						</div>
					   </td>
                     </tr>
                     <tr>
                       <th scope="row">2</th>
                       <td>Jacob</td>
	           	       <td>Mark</td>
                       <td>Thornton</td>
					   <td>
					     <div class="checkbox">
						  <label><input type="checkbox">选择</label>
						</div>
					   </td>
                     </tr>
                     <tr>
                       <th scope="row">3</th>
                       <td>Larry</td>
                       <td>the Bird</td>
	           	       <td>Mark</td>
					   <td>
					     <div class="checkbox">
						  <label><input type="checkbox">选择</label>
						</div>
					   </td>
                     </tr>
                   </tbody>
                 </table>			
			</div>
			<div class="row">
			    <button class="btn btn-default" type="submit">提交</button>
			  </div>           		  
		    </form>           
          </div>
		</div>	  
      </div>   
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
