<div class="list-group">  
  <a href="#" class="list-group-item active">考生管理</a>		   
  <a href="{{url "Examinee.Info" }}" class="list-group-item">考生信息</a>
  <a href="{{url "Examinee.SignUp" }}" class="list-group-item">考生注册</a>
  <a href="#" class="list-group-item active">题库管理</a>
  <a href="{{url "Question.View" }}" class="list-group-item">题库概览</a>
  <a href="{{url "Question.Create" }}" class="list-group-item">创建题目</a>
  <a href="#" class="list-group-item active">考试管理</a>
  <a href="{{url "ExamPaper.View" }}" class="list-group-item">试卷概览</a>
  <a href="{{url "ExamPaper.Create" }}" class="list-group-item">试卷生成</a>
  <a href="{{url "ExamPaper.Publish" }}"  class="list-group-item">考试发布</a>
  <a href="{{url "ExamPaper.Score" }}" class="list-group-item">成绩查询</a>
  <a href="#" class="list-group-item active">联系我们</a>
  <a href="{{url "About.About" }}" class="list-group-item">电话号码</a>
</div>	